.errore{
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    background-color: indianred;
    color: whitesmoke;
    margin: 0;
    margin-top: 20px;
}
.errore p {
    margin: 0;}

